flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
flask-socketio  
Flask-WTF
Flask-Session
flask-login
Flask-Mail
email_validator
Flask-JWT-Extended
openai 
python-dotenv
requests
gunicorn
gevent
redis
pytest
itsdangerous