{% extends "base.html" %}

{% block title %}Dashboard - Mi Proyecto{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Bienvenido al Panel de Control</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hola, {{ user_data.username }}</h4>
            <p class="card-text">Email: {{ user_data.email }}</p>
            <p class="card-text">Rol: {{ user_data.role }}</p>
        </div>
    </div>

    <div class="mt-4">
        <a href="{{ url_for('dashboard.dashboard_settings') }}" class="btn btn-secondary">Configuraciones</a>
        <a href="{{ url_for('dashboard.dashboard_profile') }}" class="btn btn-secondary">Perfil</a>
    </div>
</div>
{% endblock %}
